:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--dark-cyan);
    background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
    background-repeat: no-repeat no-repeat;
    background-position: right 50vw bottom 40vh, left 50vw top 50vh;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 1.6rem;
}

.card {
    width: 350px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 10px 10px 28px rgba(0, 0, 0, .175);

    background-color: white;

    &-header {
        width: 100%;
        display: block;
    }

    &-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid rgba(9, 9, 9, .175);

        &-img {
            border: 6px solid white;
            border-radius: 50%;
            margin-top: -54px;
            background-color: white;
        }

        &-title {
            margin-top: 2rem;
            font-size: 1.8em;

            span {
                color: var(--dark-gray);
                font-weight: 400;
                margin-left: 0.7rem;
            }
        }

        &-text {
            color: var(--dark-gray);
            font-size: 1.6rem;
            margin-bottom: 3rem;
            margin-top: 0;
        }
    }

    &-footer {
        display: flex;
        margin: 0.7rem 0 0.9rem 0;
        justify-content: space-evenly;

        &-social {
            text-align: center;
            font-size: 1.4rem;
            line-height: 0.6rem;
            letter-spacing: 1px;

            p {
                color: var(--dark-gray);
            }
        }


    }
}